<div class="row justify-content-center">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="col-8 alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
</div>